body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.background-image {
    background-image: url('/images/background.jpg'); /* Укажите путь к изображению фона */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid #ccc;
}

.tab-button-wrapper {
    display: flex;
}

.tab-button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-bottom: none;
    margin-right: 5px;
    transition: background-color 0.3s;
}

.tab-button:hover {
    background-color: #ddd;
}

.tab-button.active {
    background-color: #fff;
    border-bottom: 2px solid #fff;
}

.tab-button-link {
    padding: 10px 20px;
    margin-left: 10px;
    text-decoration: none;
    color: #333;
}

.tab-content-wrapper {
    padding: 20px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

h2 {
    margin: 0 0 20px;
    font-size: 1.5em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.profile-form {
    display: flex;
    flex-direction: column;
}

.profile-form label {
    margin-bottom: 5px;
}

.profile-form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.profile-form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.profile-form button:hover {
    background-color: #45a049;
}
